body {
    font-family: monospace;
}

#wrapper {
    width: 100%;
    border: 1px solid #000;
    display: inline-block;
}

.container {
    width: 50%;
    float: left;
}

#piechart {
    width: 50%;
    height: 200px;
    text-align: center;
}
